body { background: #fb219; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 43px; display: flex; }
.block-config-0 { color: #537ff4; font-size: 18px; margin-bottom: 5px; }
.block-session-1 { color: #683b3a; font-size: 12px; margin-bottom: 5px; }
.block-user-2 { color: #cac4ec; font-size: 12px; margin-bottom: 5px; }
.block-cluster-3 { color: #8fd33b; font-size: 21px; margin-bottom: 5px; }
.block-config-4 { color: #144aaa; font-size: 20px; margin-bottom: 5px; }